name: Publish Image (Commit)

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  build-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set variables
        id: vars
        run: |
          SHORT_SHA=${GITHUB_SHA::7}
          echo "short_sha=${SHORT_SHA}" >> $GITHUB_OUTPUT
          echo "version=commit-${SHORT_SHA}" >> $GITHUB_OUTPUT
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push multi-arch
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/xsmod/vanpix-rpi2mqtt:${{ steps.vars.outputs.version }}
            ghcr.io/xsmod/vanpix-rpi2mqtt:latest
          build-args: |
            VERSION=${{ steps.vars.outputs.version }}
            VCS_REF={{ github.sha }}
